
div.App-header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: thick solid rgb(221,53,74);
} 
.App-header h1{
  color: rgb(221,53,74);
}
div.App-body{
  padding: 40px 70px;
  
}
div.App-body{
  font-weight: bold;
  border-bottom: thick solid rgb(221,53,74);
}
div.App-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-style: italic;
  padding: 10px;
}